POSTGRES_DB=realtime_transit
POSTGRES_USER=transit
POSTGRES_PASSWORD=transit
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/realtime_transit
DB_USERNAME=transit
DB_PASSWORD=transit
SERVER_PORT=8080

GBIS_SERVICE_KEY=
NATIONAL_PRECISION_BUS_BASE_URL=
NATIONAL_PRECISION_BUS_SERVICE_KEY=
